
li {
 color: darkgreen;
}
a[hight="90"]{
    color: blue;
}
.table-blue{
    color: mediumblue;
}
.table-bold{
    font-weight:bold;
}
#minsme{
    font-weight: bold;
}
.list1 > li{
color: mediumblue;font-weight: bold;
} 
.font-size-md{
    font-size: 24px;
}
.font-size-md.green{
    color: mediumslateblue;
}
.font-size-md.red{
    color: orangered;
}
table {
    color: firebrick;
    border-radius: 10px; ;
    border: 2px solid rebeccapurple;
}